/*Focus on the top navigation bar*/
.top-nav {
background-color: black;
overflow: hidden;
position: top;
bottom: 0;
width: 100%
}

/*Styling the links*/
.top-nav a {
float: left;
display: block;
color: lightblue;
text-align: center;
padding: 20px 16px;
text-decoration: none;
font-size: 17px;
}

/*changing the color of the links*/
.top-nav a:hover{
    background-color: rgb(14, 182, 67);
    color: black;
}

.top-nav a.active{
    background-color: #04AA6D;
    color: white;
}

/*Side bar*/
.side-menu {
    height: 300px;
    width: 200px;
    position: fixed;
    z-index: 100; /*stay on top and does not overlap*/
    top: 20%;
    right: 0;
    overflow-y: hidden;

}
/*side menu styling*/ 
.side-menu a{ 
    background-color: antiquewhite;
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.side-menu a:hover{
    background-color: blueviolet;
    color:white;
}

/*body*/
body{
    background-color: rgb(225, 199, 0);
}

/*placing the image SIDE-BY-SIDE */
.column{
    float: left;
    width: 33.33;
    padding: 5px;
    text-align: center;
}

.row::after{
    content: "";
    clear: both;
    
}